<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.msidolphin.mblog.model.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="pers.msidolphin.mblog.object.dto.CommentDto" >
        <id     property="id"            column="id"          jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="articleId"     column="articleId"   jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="replyCount"    column="reply_count" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        <result property="content"       column="content"     jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="createTime"    column="create_time" jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="user.id"       column="user_id"          jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="user.nickname" column="nickname"    jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="user.username" column="username"    jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="user.email"    column="email"       jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="user.website"  column="website"     jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="user.avatar"  column="avatar"       jdbcType="VARCHAR" javaType="java.lang.String" />
    </resultMap>

    <select id="findCommentsByArticleId" parameterType="String" resultMap="BaseResultMap">
        SELECT
            c.id id,
            c.article_id articleId,
            u.nickname nickname,
            u.username username,
            u.email email,
            u.website website,
            (SELECT count(0) cnum FROM replies r WHERE r.comment_id = c.id) reply_count,
            u.avatar avatar,
            u.id user_id,
            c.content content,
            DATE_FORMAT(c.create_time,'%Y-%m-%d %h:%i:%s') create_time
        FROM comment c LEFT JOIN user u on c.user_id = u.id where c.article_id = #{id}
    </select>
</mapper>