<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.msidolphin.mblog.model.mapper.LinkMapper">

    <resultMap id="BaseResultMap" type="pers.msidolphin.mblog.object.dto.AdminLinkDto" >
        <id     property="id"           column="id"           jdbcType="INTEGER" javaType="java.lang.String" />
        <result property="name"         column="name"         jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="url"          column="url"          jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="sort"         column="sort"         jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="createTime"   column="create_time"  jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>

    <select id="findLinks" parameterType="pers.msidolphin.mblog.object.query.LinkQuery" resultMap="BaseResultMap">
       SELECT
           l.id,
           l.name,
           l.url,
           l.sort,
           DATE_FORMAT(l.create_time, '%Y-%m-%d %H:%i:%s') create_time
       FROM links l
       WHERE l.is_delete = 0
      <if test="name">
          AND l.name like #{name}
      </if>
      ORDER BY l.create_time DESC
    </select>
    
    <update id="updateLinkById" parameterType="map">
        UPDATE links l
            SET
            <if test='name != null and name !=""'>
                l.name = #{name},
            </if>
            <if test='url != null and url != ""'>
                l.url = #{url},
            </if>
            <if test='sort != null and sort != ""'>
                l.sort = #{sort},
            </if>
            <if test='is_delete != null and is_delete != ""'>
                l.is_delete = #{is_delete},
            </if>
            l.update_time = now(),
            l.updator = #{updator}
        WHERE l.id = #{id}
    </update>

    <select id="selectLink4Portal" resultType="pers.msidolphin.mblog.object.dto.PortalLinkDto">
        SELECT l.name, l.url FROM links l ORDER BY l.sort ASC LIMIT 1,10
    </select>
</mapper>