<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.msidolphin.mblog.model.mapper.SettingMapper">

    <resultMap id="BaseResultMap" type="pers.msidolphin.mblog.object.dto.AdminSettingDto" >
        <id     property="id"           column="id"           jdbcType="INTEGER" javaType="java.lang.String" />
        <result property="key"          column="key"          jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="value"        column="value"        jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="name"         column="name"         jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="isImage"      column="is_image"     jdbcType="INTEGER" javaType="java.lang.Boolean"/>
        <result property="createTime"   column="create_time"  jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>

    <select id="findSettings" parameterType="pers.msidolphin.mblog.object.query.SettingQuery" resultMap="BaseResultMap">
       SELECT
           s.id,
           s.name,
           s.key_value `key`,
           s.value,
           s.is_image,
           s.type
       FROM setting s
       <where>
          <if test="name != null">
              AND s.name like #{name}
          </if>
          <if test="key != null">
              AND s.key_value like #{key}
          </if>
           <if test='type != null and type != ""'>
               AND s.type = #{type}
           </if>
       </where>
        ORDER BY s.id ASC
    </select>
    
    <update id="updateSettingById" parameterType="map">
        UPDATE setting s
            <set>
                <if test='name != null and name != ""'>
                    s.name = #{name},
                </if>
                <if test='value != null and name != ""'>
                    s.value = #{value},
                </if>
                <if test='type != null and type != ""'>
                    s.type = #{type},
                </if>
                <if test='isImage != null and isImage != ""'>
                    s.is_image = #{isImage},
                </if>
                s.updator = #{updator},
                s.update_time = now()
            </set>
        WHERE s.id = #{id}
    </update>
</mapper>