<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.msidolphin.mblog.model.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="pers.msidolphin.mblog.object.dto.AdminTagDto" >
        <id     property="id"           column="id"           jdbcType="INTEGER" javaType="java.lang.String" />
        <result property="name"         column="name"         jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="frequency"    column="frequency"    jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="createTime"   column="create_time"  jdbcType="VARCHAR" javaType="java.lang.String"/>
    </resultMap>

    <select id="findTags" parameterType="pers.msidolphin.mblog.object.query.TagQuery" resultMap="BaseResultMap">
       SELECT
           t.id,
           t.name,
           t.frequency,
           DATE_FORMAT(t.create_time, '%Y-%m-%d %H:%i:%s') create_time
       FROM tags t
       <where>
          <if test="name">
              AND t.name like #{name}
          </if>
       </where>
        ORDER BY t.create_time DESC
    </select>
    
    <update id="updateTagById" parameterType="list">
        UPDATE tags t SET t.name = #{name}, updator = #{updator}, update_time = now()  WHERE t.id = #{id}
    </update>

    <!-- 根据文章id查询标签名称和id -->
    <select id="findTagByArticleId" parameterType="String" resultType="map">
        SELECT t.id id, t.name name FROM (SELECT m.tid FROM article_tag m WHERE m.aid = #{id}) m INNER JOIN tags t on m.tid = t.id
    </select>
    
    <insert id="createRelationship" parameterType="list">
        INSERT INTO article_tag VALUES (#{aid}, #{tid})
    </insert>
    
    <delete id="brokenRelationship" parameterType="list">
        DELETE FROM article_tag WHERE aid = #{aid} AND tid = #{tid}
    </delete>

    <!-- 标签 引用数量统计 这个就简单了 -->
    <select id="frequencyBarReport" resultType="map" parameterType="integer">
        SELECT t.name, t.frequency FROM tags t ORDER BY t.frequency DESC LIMIT 0, #{limit}
    </select>

    <select id="selectTagCount" resultType="int">
        SELECT COUNT(0) FROM tags
    </select>

    <!-- 查询引用频次top10的标签给前台展示 -->
    <select id="selectTag4Portal" resultType="pers.msidolphin.mblog.object.dto.PortalTagDto">
        SELECT  t.id, t.name FROM tags t ORDER BY t.frequency DESC LIMIT 0,10
    </select>
</mapper>