<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.msidolphin.mblog.model.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="pers.msidolphin.mblog.object.dto.PortalUserDto" >
        <id     property="id"               column="id"               jdbcType="INTEGER" javaType="java.lang.String" />
        <result property="nickname"         column="nickname"         jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="username"         column="username"         jdbcType="VARCHAR" javaType="java.lang.String" />
        <result property="avatar"           column="avatar"           jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result property="website"          column="website"          jdbcType="VARCHAR" javaType="java.lang.String" />
    </resultMap>

    <select id="findUserById" parameterType="string" resultMap="BaseResultMap">
       SELECT
           u.id,
           u.nickname,
           u.username,
           u,avatar,
           u.website
       FROM user u
       WHERE u.id = #{id}
    </select>
    
    <update id="updateUserById" parameterType="map">
        UPDATE user
        <set>
            <if test='nickname != null and nickname != ""'>
                nickname = #{nickname},
            </if>
            <if test='email != null and email != ""'>
                email = #{email},
            </if>
            <if test='phone != null and phone != ""'>
                phone = #{phone},
            </if>
            <if test='summary != null and summary != ""'>
                summary = #{summary},
            </if>
            <if test='avatar != null and avatar != ""'>
                avatar = #{avatar},
            </if>
            update_time = now()
        </set>
        WHERE id = #{id}
    </update>
</mapper>